<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <%- include('../partials/cdn_head/_cdn_head') %>
        <link rel="stylesheet" href="resources/css/_buttons_home.css">
        <link rel="stylesheet" href="resources/css/_cards_home.css">
        <link rel="stylesheet" href="resources/css/_cards_pagination_home.css">
        <link rel="stylesheet" href="resources/css/_panel_home.css">
</head>

<body>
    <%- include('../partials/navbar/_navbar') %>
    <%- include('../partials/modals/_modal_temps') %>
    <%- include('../partials/home_partials/_buttons') %>
    <%- include('../partials/home_partials/_cards_home') %>

     <!-- SCRIPTS -->
     <script src="/resources/js/_home_scripts.js"></script>
</body>

</html>