<!DOCTYPE html>
<html>

<head>
    <title>Individual</title>
    <%- include('../partials//cdn_head/_cdn_head') %>
        <script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
        <link rel="stylesheet" href="resources/css/_buttons_home.css">
        <link rel="stylesheet" href="resources/css/_card_individual.css">
        <link rel="stylesheet" href="resources/css/_messages_individual.css">
        <link rel="stylesheet" href="resources/css/_buttons_individual.css">
        <link rel="stylesheet" href="resources/css/_panel_home.css">
        <link rel="stylesheet" href="resources/css/_list_individual.css">
</head>

<body>
    <%- include('../partials/navbar/_navbar') %>
    <%- include('../partials/modals/_modal_temps') %><br>
    <%- include('../partials/individual/_message') %>
    <%- include('../partials/individual/_cards_individual') %>
    <%- include('../partials/individual/_list_individual') %>
    <%- include('../partials/individual/_buttons_individual') %>
    
    <!-- SCRIPTS -->
    <script src="/resources/js/_individual_scripts.js"></script>
</body>

</html>